astroid==2.4.1
asyncio==3.4.3
asyncpg==0.20.1
bingads==13.0.3
certifi==2020.4.5.1
chardet==3.0.4
future==0.18.2
idna==2.9
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
pylint==2.5.2
pytz==2020.1
requests==2.23.0
six==1.15.0
suds-jurko==0.6
toml==0.10.1
urllib3==1.25.9
wrapt==1.12.1